<header class="page-top clearfix">
    <div class="top-left">
        <span class="glyphicon glyphicon-menu-hamburger" id="nav-button" aria-hidden="true"></span>
        <span class="about">BLOG</span>
    </div>
    <div class="top-right">
        <div class="userinfo">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="pic" src="/images/avatar.png" />
                <span class="name"><%= user.name %></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/admin/logout">注销</a></li>
            </ul>
        </div>
    </div>
</header>