<header class="page-top clearfix">
    <div class="top-left">
        <span class="glyphicon glyphicon-menu-hamburger" id="nav-button" aria-hidden="true"></span>
        <span class="about">BLOG</span>
    </div>
    <div class="top-right">
        <div class="userinfo">
            <img class="pic" src="/images/introduce.jpg" />
            <span class="name">Abner</span>
            <span class="glyphicon glyphicon-triangle-bottom"></span>
        </div>
    </div>
</header>