<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <style rel="stylesheet">
        .error-500 {
            font-size: 100px;
            padding-top: 300px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="error-500">Sorry, Server Error!<br><%= message %></div>
</body>
</html>

