<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= blog.title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/jquery.min.js"></script>
    </head>
    <body>
    <%- include ./components/nav %>

