<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= blog.title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
        <link rel="stylesheet" type="text/css" href="/javascripts/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
        <script>SyntaxHighlighter.all();</script>
    </head>
    <body>
    <%- include ./components/nav %>

