<%- include header %>

<div class="main">
    <div class="post-area">
        <%- include ./components/post-content %>
    </div>
    <div class="module-area">
        <%- include ./components/introduce %>
    </div>
</div>


<%- include footer %>

