body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #efefef;
}
* {
    margin: 0;
    padding: 0;
}
body,html {
    height: 100%;
}
a,a:hover,a:link,a:active,a:visited {
    color: #333333;
    text-decoration: none;
}
ul {
    list-style: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
/*------------ nav ------------*/
/*.nav {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #000000;
}
.nav ul {
    float: left;
}
.nav ul li {
    float: left;
    padding: 0 15px;
}
.nav ul li a {
    color: #cfcfcf;
    -webkit-transition: color linear .2s;
    -moz-transition: color linear .2s;
    -ms-transition: color linear .2s;
    -o-transition: color linear .2s;
    transition: color linear .2s;
}
.nav ul li a:hover {
    color: #34a853;
    -webkit-transition: color linear .2s;
    -moz-transition: color linear .2s;
    -ms-transition: color linear .2s;
    -o-transition: color linear .2s;
    transition: color linear .2s;
}
.nav ul li a.curr {
    color: #34a853;
}
.nav .search {
    float: right;
}
.nav .search input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    border: none;
    outline: none;
    background-color: #efefef;
}*/
.error-404 {
    height: 100%;
    background: #ffffff;
    margin: 0 20px;
}
.error-500 > span,
.error-404 > span {
    position: relative;
    display: block;
    font-size: 100px;
    text-align: center;
    top: 35%;
}
/*------------ nav ------------*/
.nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: #202020;
    overflow: hidden;
}
.nav > ul {
    margin-top: 150px;
}
.nav > ul > li {
    margin-bottom: 20px;
}
.nav > ul > li > a {
    display: block;
    color: #cfcfcf;
    text-align: center;

}
.nav > ul > li > a.curr {
    color: #34a853;
}
.nav > ul > li > a:hover {
    color: #34a853;
}
.main {
    height: 100%;
    padding-left: 100px;
}
.main > .post-area {
    float: left;
    width: 60%;
    height: inherit;
}
.main > .post-area > .search {
    margin: 30px 20px;
}
.main > .post-area > .search input {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 3px solid #ffffff;
    outline: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-indent: 20px;
    font-size: 14px;
}
.main > .post-area > .search input:hover {
    border: 3px solid #34a853;
}
.main > .post-area > .post-content {
    padding: 0 20px;
    margin: 0 20px 0px 20px;
    background: #ffffff;
    overflow: hidden;
}
.main > .post-area > .post-content > h3 {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    padding-top: 50px;
}
.main > .post-area > .post-content > time {
    display: block;
    text-align: center;
    margin: 15px 0 30px 0;
}
.main > .post-area > .post-content > div {
    text-align: justify;
    line-height: 24px;
    padding-bottom: 50px;
    overflow: hidden;
}
.main > .post-area > .post-block {
    padding: 20px;
    background: #ffffff;
    margin: 0 20px 30px 20px;
}
.main > .post-area > .post-block > .title {
    width: inherit;
    height: 22px;
    overflow: hidden;
}
.main > .post-area > .post-block > .title > a {
    font-size: 22px;
    height: inherit;
    line-height: 22px;
}
.main > .post-area > .post-block > .title > a:hover {
    color: #34a853;
}
.main > .post-area > .post-block > .description {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    text-indent: 30px;
    text-align: justify;
    color: #666666;
}
.main > .post-area > .post-block > .addition {
    margin-top: 30px;
    height: 16px;
    line-height: 16px;
    color: #8a8a8a;
}
.main > .post-area > .post-block > .addition > .date {
    float: left;
}
.main > .post-area > .post-block > .addition > .comment {
    float: right;
}
.main > .post-area > .post-block > .addition > .view {
    float: right;
    margin-left: 10px;
}
.main > .post-area > .post-block > .addition > div {
    cursor: pointer;
}
.main > .post-area > .post-block > .addition > div > img {
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
.main > .post-area > .post-block > .addition > div > span,
.main > .post-area > .post-block > .addition > div > a {
    float: left;
    color: #a8a8a8;
    font-size: 12px;
}
.main > .module-area {
    float: right;
    width: 40%;
}
.main > .module-area > .introduct {
    margin: 30px 20px 30px 0px;
    background: #e9e8dd;
    padding: 20px;
}
.main > .module-area > .introduct > .img {
    float: left;
}
.main > .module-area > .introduct > .img > img {
    width: 100px;
    height: 100px;
}
.main > .module-area > .introduct > .text {
    margin-left: 120px;
    text-align: justify;
}
.main > .module-area > .introduct > .text > h3 {
    font-size: 20px;
}
.main > .module-area > .introduct > .text > p {
    margin-top: 5px;
}
.paging {
    margin: 20px;
    text-align: center;
}
.paging > span {
    border: 1px solid #34a853;
    padding: 5px 10px;
    margin: 0 5px;
    color: #ffffff;
    background: #34a853;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.paging > a {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    color: #aeb2b7;
    margin: 0 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.paging > a:hover {
    border: 1px solid #34a853;
    padding: 5px 10px;
    margin: 0 5px;
    color: #ffffff;
    background: #34a853;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}



















