<div class="introduct clearfix">
    <div class="img"><img src="<%= introduce.imgPath %>" /></div>
    <div class="text">
        <h3><%= introduce.name %></h3>
        <p><%= introduce.excerpt %></p>
    </div>
</div>