<% if (introduce) { %>
    <% for (var item of introduce) { %>
        <div class="introduct clearfix">
            <div class="img"><img src="<%= item.imgPath %>" /></div>
            <div class="text">
                <h3><%= item.name %></h3>
                <p><%= item.excerpt %></p>
            </div>
        </div>
    <% } %>
<% } %>