<div class="nav">
    <ul>
        <% for (var item of nav) { %>
            <li>
                <a class="<%= RegExp(item.url).test(curUrl) ? "curr" : "" %>" href="<%= item.url %>">
                    <%= item.name %>
                </a>
            </li>
        <% } %>
    </ul>
</div>
<script>
    if (!$(".nav li").find("a.curr")) {
        $(".nav li").eq(0).find("a").addClass("curr");
    }
</script>
