<div class="post-content">
    <a class="title" href="/post/view/<%= post._id %>"><%= post.title %></a>
    <p class="description"><%= post.excerpt %></p>
    <div class="addition">
        <span>Date: <%= post.date %></span>/<span>Comments: 100</span>
    </div>
</div>