<div class="post-content">
    <% if (post) { %>
        <h3><%= post.title %></h3>
        <time><%= post.date %></time>
        <div><%- post.content %></div>
    <% } %>
</div>
<script>
    $(function () {
        if ($(".post-content").height() < $(".post-content").parent().height()) {
            $(".post-content").height($(".post-content").parent().height());
        }
    });
</script>