<div class="message-block">
    <% if(success) { %>
    <div class="success clearfix">
        <span class="glyphicon glyphicon-ok-circle"></span>
        <span><%= success %></span>
    </div>
    <% } %>

    <% if(error) { %>
    <div class="error clearfix">
        <span class="glyphicon glyphicon-remove-circle"></span>
        <span><%= error %></span>
    </div>
    <% } %>
</div>